[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
scikit-learn = "*"
ual = {ref = "main", git = "https://github.com/urban-air-lab/common.git"}

[dev-packages]

[requires]
python_version = "3.10"
